<style>
    #buton_float .btn-s {
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
    }
    #buton_float .btn-m {
        width: 48px;
        height: 48px;
        line-height: 48px;
        font-size: 18px;
    }
    #buton_float .btn-l {
        width: 64px;
        height: 64px;
        line-height: 64px;
        font-size: 24px;
    }
    #buton_float .btn-circle, .btn-circle a {
        border-radius: 50%;
    }
    #buton_float .orange {
        background:#E77E22;
        right: 10px;
    }
    #buton_float .green {
        background:#8FC02F;
        right: 52px;
    }
    #buton_float .pink {
        background:#D93160;
        right: 110px;
    }
    #buton_float .btn_f {
        text-align: center;
        -webkit-transition: .8s all;
        -moz-transition: .8s all;
        transition: .8s all;
    }
    #buton_float .btn_f a {
        display:block;
        color:#fff;
        text-decoration:none;
        -webkit-transition: .8s all;
        -moz-transition: .8s all;
        transition: .8s all;
    }
    #buton_float .btn_f a:hover {
        background:rgba(0, 0, 0, .5);
    }
    #buton_float .btn-float {
        position: fixed;
        bottom:10px;
        z-index:999;
    }
    #buton_float .btn-float:hover {
        -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
    }
</style>

<div id="buton_float">
      <a style="color: #ffffff;" href="/TramiteMPH/tramite-interno/mensaje">
    <div title="Crear Documento" class="btn btn-float btn-l btn-circle  orange ">
      +
    </div>
          </a>
</div>