<?xml version="1.0" encoding="UTF-8"?>
<cronos sistema="Geosolution"><servidor><driver>org.postgresql.Driver</driver><url>jdbc:postgresql://localhost:5432/bdtramite20170113</url><ip_servidor>localhost</ip_servidor><db>bdtramite20170113</db><nombre_servidor>sistema</nombre_servidor><puerto>5432</puerto><usuario>postgres</usuario><password>1234</password><nick>Zoom Corp</nick></servidor><cliente><ip_cliente></ip_cliente><nombre_cliente></nombre_cliente></cliente><otro_servidor><otro_ip_servidor></otro_ip_servidor><otro_puerto></otro_puerto><otro_db></otro_db></otro_servidor><otros><es_servidor></es_servidor><interrupcion></interrupcion><hora_cierre_planilla></hora_cierre_planilla><es_autorizado_backup></es_autorizado_backup></otros><path><path_reporte></path_reporte><path_pg_dump></path_pg_dump><path_backup></path_backup><editor_geo></editor_geo></path></cronos>
